html, body {
    height: 100%;
}
body {
    background: #0d0d0d
}
.jumbotron {
    padding: 0;
    width: 100%;
    background: #0d0d0d
}
@media only screen and (min-height : 750px) {
    .jumbotron {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
    }
}
.container-fluid {
    width: 100%;
}
.banner {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    height: 200px;
    -webkit-filter: brightness(0.1) grayscale(100%) blur(1px) opacity(50%);
    -webkit-transition: all 1s;
    filter: brightness(0.1) grayscale(100%) blur(1px) opacity(50%);
    transition: all 1s;
}
.banner-faudroids {
    -webkit-filter: grayscale(100%) blur(2px) opacity(5%);
    filter: grayscale(100%) blur(2px) opacity(5%);
}
.banner-action {
    -webkit-filter: opacity(0);
    -webkit-transition: all 1s;
    filter: opacity(0);
    transition: all 1s;
    position: absolute;
    bottom: 5px;
}
.banner:hover, .banner:hover .banner-action{
    -webkit-filter: none;
    filter: none;
}
.fa-github {
    right: 65px;
}
.fa-download {
    right: 5px;
}
.fa {
    color: #E1F5FE;
}
